body {
    margin: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Arial', sans-serif;

    background: linear-gradient(45deg, #1a1a1a, #333333, #1a1a1a);
    /*animation: gradientAnimation 10s infinite alternate;*/
}

#game-container {
    position: relative;
    transition: opacity 1s ease-in-out; /* Add a transition for opacity */
    opacity: 1; /* Set initial opacity to 1 */
}

.fade-out {
    opacity: 0; /* Set opacity to 0 for fade-out effect */
}

.fade-in {
    opacity: 1; /* Set opacity to 1 for fade-in effect */
}


canvas {
    display: block;

}

#live-score {
    position: absolute;
    top: 50px;
    left: 50px;
    padding-left: 10px;
    font-size: 25px;
    color: #ecf0f1;
    
}

#stats {
    position: absolute;
    top: 50px;
    right: 50px;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background for stats */
    padding: 1px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Box shadow for a subtle lift */
    font-size: 48px; /* Increased font size */
    color: #2c3e50; /* Updated text color for better visibility */
    font-weight: bold; /* Use bold font */
    font-style: italic; /* Use italic style (you can adjust this to your preference) */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Darker shadow for better visibility */
}


table {
    width: 100%;
    text-align: center;
}

th, td {
    padding: 10px;
}

th {
    background-color: #3498db;
    color: #ecf0f1;
}


#gameCanvas {
    border-radius: 10px;
}

#gameCanvas {
    position: relative;
    transition: transform 0.5s ease-in-out;

}



/* Styling for obstacles */
#gameCanvas + div {
    position: absolute;
    width: 440px;
    height: 50px;
    background-color: #8b0000; /* Dark red background color */
    outline: 8px solid #8b0000; /* Add a dark red outline to create thickness */
    outline-offset: -8px; /* Adjust the offset to control the thickness */

    padding-bottom: 2px;
    border-radius: 5px;
    color: #fff; /* White text color */
    font-size: 48px;
    font-weight: bold;
    font-style: italic;
    text-shadow: 2px 2px 4px #2c3e50; /* Text shadow for better visibility */
    border: 2px solid #c0392b; /* Border color for the text */
}


@keyframes obstacleAnimation {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(15px);
    }
}


@keyframes gradientAnimation {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
}

@keyframes patternAnimation {
    0% {
        background-size: 200% 200%;
    }
    100% {
        background-size: 100% 100%;
    }
}

#gameCanvas + div {
    animation: obstacleAnimation 1s infinite;
}
